pkgbase = framework16-backlight-sync-git
.git/pkgdesc = Framework 16 keyboard/numpad backlight sync daemon
.git/pkgver = r3.ff40612
.git/pkgrel = 1
.git/url = https://github.com/MiguelAgueda/framework16-backlight-sync
.git/arch = any
.git/license = MIT
.git/makedepends = git
.git/depends = python
.git/provides = framework16-backlight-sync
.git/conflicts = framework16-backlight-sync
.git/source = framework16-backlight-sync::git+https://github.com/MiguelAgueda/framework16-backlight-sync.git
.git/sha256sums = SKIP

pkgname = framework16-backlight-sync-git
